.navbar-google{
    list-style-type: none;
    display:flex;
    flex-direction:row;
    justify-content:flex-end;

}

.navbar-item-google{
    margin:10px;
    font-family: Arial;
    font-size: 14px;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}


a:hover {
  color: black;
}

a:active {
  color: black;
}

.div-center{
    display:flex;
    justify-content: center;
    font-family: Arial;
    font-size: 13px;
}

.rounded-search{
    display: flex;
    z-index: 3;
    height: 44px;
    border: 1.5px solid #dfe1e5;
    background: white;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    margin-top: 10px;
    width:584px;
    max-width: 584px;
    width: calc(632px+6px)
}

.google-btn{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 8px;
    color: #3c4043;
    font-family: var(--qR8X0);
    font-optical-sizing: none;
    font-size: var(--hbmnje);
    font-weight: var(--Oycjt);
    margin: 11px 6px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin-top:30px;
    
}

.heading h1{
    color: #474747;
    font-family:"Arial";
    font-size: 27px;
    margin: 40px5px0px;
    font-weight: 400;
    line-height: 28px;
    
}
.heading h2{
    color: #474747;
    font-family:"Arial";
    font-size: 20px;
    margin: 40px0px0px0px;
    font-weight: 400;
    line-height: 28px;
    width:100%;
}

label {
    display: inline-block;
    width: 130px;
    font-family:"Arial";
    color: #474747;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    
}

.forms {
    width: 800px;
    height: 30px;
    box-sizing: border-box;
    margin:15px;
    padding:20px;
    border: 1px solid black;
    box-shadow: none;
}



.left-align{
    margin-left:80px;
    margin-top:40px;
    
}



div:has(.navbar-google) {
    display: flex;
    flex-direction: row-reverse; 
    justify-content: space-between; 
    align-items: center; 
    padding: 15px 4px;
    
    
}
.navbar-google-search {
    height: 30px; 
    width: auto; 
    margin-left:80px;
    
}

.subheading-align{
    margin-top:40px;
}

.btn-advs{
    display:flex;
    position:relative;
    box-sizing: border-box;
    min-height: 40px;
    border: 1px solid #2b76f0;
    background: #2b76f0;
    box-shadow: none;
    border-radius: 26px;
    margin: 0 auto;
    width:150px;
    margin-top:15px;
    color: white;
    cursor:pointer;
}
.btn-advs:hover {
  background-color: #1e5fc7; 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.rounded-search:focus{
    outline:none;
}

.forms:focus{
    outline:1.5px solid blue;

}